USE [master]
GO
/****** Object:  Database [KMCEventDB]    Script Date: 6/15/2026 1:27:54 AM ******/
CREATE DATABASE [KMCEventDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KMCEventDB', FILENAME = N'C:\Users\User\KMCEventDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KMCEventDB_log', FILENAME = N'C:\Users\User\KMCEventDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KMCEventDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KMCEventDB]
GO
/****** Object:  Table [dbo].[Events]    Script Date: 6/15/2026 1:27:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[EventId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NULL,
	[Description] [nvarchar](max) NULL,
	[Category] [nvarchar](100) NULL,
	[Location] [nvarchar](200) NULL,
	[EventDate] [datetime] NULL,
	[OrganizerId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Registrations]    Script Date: 6/15/2026 1:27:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registrations](
	[RegistrationId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[EventId] [int] NULL,
	[RegistrationDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RegistrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/15/2026 1:27:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Password] [nvarchar](255) NULL,
	[Role] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Events] ON 

INSERT [dbo].[Events] ([EventId], [Title], [Description], [Category], [Location], [EventDate], [OrganizerId]) VALUES (1, N'Kandy Music Festival', N'Annual Music Event', N'Music', N'Kandy City Hall', CAST(N'2026-07-10T18:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Events] OFF
GO
SET IDENTITY_INSERT [dbo].[Registrations] ON 

INSERT [dbo].[Registrations] ([RegistrationId], [UserId], [EventId], [RegistrationDate]) VALUES (1, 1, 1, CAST(N'2026-06-06T00:01:55.940' AS DateTime))
INSERT [dbo].[Registrations] ([RegistrationId], [UserId], [EventId], [RegistrationDate]) VALUES (2, 1, 1, CAST(N'2026-06-06T01:22:43.587' AS DateTime))
INSERT [dbo].[Registrations] ([RegistrationId], [UserId], [EventId], [RegistrationDate]) VALUES (3, 1, 1, CAST(N'2026-06-06T23:03:14.370' AS DateTime))
SET IDENTITY_INSERT [dbo].[Registrations] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [FullName], [Email], [Password], [Role]) VALUES (1, N'Afeef', N'afeef@gmail.com', N'123456', N'Organizer')
INSERT [dbo].[Users] ([UserId], [FullName], [Email], [Password], [Role]) VALUES (2, N'Ahamed Aathif', N'aathif@gmail.com', N'asd@123', N'Participant')
INSERT [dbo].[Users] ([UserId], [FullName], [Email], [Password], [Role]) VALUES (3, N'Ahamed Ahnaf', N'ahnaf@gmail.com', N'asd123', N'Participant')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534517B674C]    Script Date: 6/15/2026 1:27:55 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Events]  WITH CHECK ADD FOREIGN KEY([OrganizerId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Registrations]  WITH CHECK ADD FOREIGN KEY([EventId])
REFERENCES [dbo].[Events] ([EventId])
GO
ALTER TABLE [dbo].[Registrations]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
USE [master]
GO
