@{
    ViewData["Title"] = "My Registrations";
}

<div class="container mt-5">

    <h2 class="text-primary mb-4">
        My Registered Events
    </h2>

    <div class="card shadow">
        <div class="card-body">

            <h4>Kandy Music Festival</h4>

            <p>
                Registration Confirmed
            </p>

            <span class="badge bg-success">
                Registered
            </span>

        </div>
    </div>

</div>